{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: url('../../static/images/Home.jpeg');
        background-position: center;
        height: 100vh;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
</style>
<section class="p-5">
    <section id="profile" class="p-5">
        <h6 class="text-light text-center text-shadow p-5">
            Back-end Flask application that allows users to 
            Sign-Up/Sign-In<br>
            Storing all their favorite books.<br>
            Adding & Deleting directly on the site. <br>
            PostgreSQL database <br>
            <a class="text-warning" href="https://github.com/Schadre/TheVault">Github link</a>
        </h6>
    </section>
</section>
{% endblock %}