{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: url('../../static/images/OpenBooks.jpeg');
        background-position: center;
        height: 100vh;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
</style>
<section class="text-center p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="{{ url_for('site.search') }}" method="GET" class="p-5">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Search for a book...">
                    </div>
                    <button type="submit" class="btn btn-warning text-light">Search</button>
                </form>
                <h5 class="text-center text-warning p-5" id="Books">"Search for your books here<br>
                    Then copy the ISBN<br>
                    Add your ISBN in the field on the Books tab."</h5>
                {% if books %}
                    <table class="table text-center" id="Books">
                        <thead>
                            <tr>
                                <th class="text-center text-warning">Title</th>
                                <th class="text-center text-warning">Author</th>
                                <th class="text-center text-warning">ISBN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td class="text-center text-light">{{ book.title }}</td>
                                    <td class="text-center text-light">{{ book.author }}</td>
                                    <td class="text-center text-light">{{ book.isbn }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No results found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
