alembic
click
dnspython
email-validator
Flask
Flask-Cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
requests
packaging
psycopg2-binary
pyparsing
python-dateutil
python-dotenv
six==1.15.0
SQLAlchemy
Werkzeug
WTForms
zipp