* {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: rgba(255, 0, 0, 0.25);
}

body {
    padding-top: 0px;
  }

a {
    text-decoration: none;
    color: white;
}

#profile {
    background: rgba(255, 0, 0, 0.25);
    display: flexbox;
    flex-direction: row;
    align-content: center;
}

#Books {
    background: rgba(255, 0, 0, 0.25);
    display: flexbox;
    flex-direction: row;
    align-content: center;
}

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 100%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}